.header-grid {
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  align-items: center;
  background-color: var(--clr-darkbrown);
  color: var(--clr-orange);
  margin-top: 1rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
  border-radius: 10px;
}

nav a:hover {
  background-color: var(--clr-orange);
  color: var(--clr-darkbrown);
  padding: 10px;
  border-radius: 10px;
}

.Welcome {
  font-weight: 200;
  font-size: 50px;
  color: var(--clr-orange);
  font-family: "Monoton", cursive;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--clr-darkerorange);
}

@media screen and (max-width: 480px) {
  .header-grid {
    grid-template-rows: auto 1fr auto;
    padding: 20px;
  }

  nav ul {
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 10px;
  }

  nav a {
    padding: 5px;
    border-radius: 5px;
  }

  .Welcome {
    padding: 20px;
    font-size: 24px;
    -webkit-text-stroke-width: 1px;
  }
}

@media screen and (min-width: 3840px) {
  nav ul {
    gap: 2rem;
  }

  nav a {
    padding: 15px;
    border-radius: 15px;
  }

  .Welcome {
    font-size: 48px;
    -webkit-text-stroke-width: 2.5px;
  }
}
